.return{
    padding: 3rem;
}
.blogpagecontent{
    background-color:white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
    
}
.blogpagecontent:hover{
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}
.contentposition{
    padding: 3rem;
}
.Content{
    font-family: Helvetica;
    font-weight: bold;
}