.return{
    padding: 3rem;
}
.blogpagecontent{
    background-color:white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 2rem;
}
.blogpagecontent:hover{
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}
.Content{
    font-size: 1.2rem;
}
.endsection{
    padding: 1rem;

}
.endingnote{
    background-color: white;
    color: grey;
    text-align: center;
}
.endfont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #DAA520;
}