.BS{
    margin: 0.2rem;
}
.display-3{
    font-weight: bold;
    font-style: italic;
}
.card2{
    margin: 0.1rem;
}
.Card2B{
    margin: 4.5rem;
    text-align: center;
}
.featuredtitle{
    font-size: 2rem;
    font-style: italic;
    color: darkslategrey;
}
.featuredsecondtitle{
    font-size: 1rem;
    color: darkslategray;
    font-style: italic;
}
.featuredtext{
    font-size: 1rem;
    font-style: italic;
    color: darkslategray;

}
.featuredbutton{
    margin:0.3rem;
    color: darkslategray;
}
.regularcard{
    transition: 1s ease;
    text-align: center;
}
.regularcard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.featuredcard{
    transition: 1s ease;
}
.featuredcard:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.hover{
    transition: 1s ease;
}
.hover:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
/* newscard */
.newstab{
background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fec84e; 
font-family: Helvetica;
text-align: center;
}
.newscardimg{
height: 200px;
width: auto ;
border-radius: 8rem;
}
.typed{
    font-size: 2rem;
}