.navtitle{
    font-weight: bold;
    font-style: italic;
    color: #ff4301;
}
.divider{
    border-style: dashed;
    border-width: 0.1rem;
    border-top-style: none;
    padding: 2rem;
}
.feed{
    padding: 5rem;
}

.footer{
    background-color: #222831;
    text-align: center;
    color: azure;
}
.hr{
    background-color: antiquewhite;
}
.FSH{
    margin: 0.2rem;
}
.Slider{
    border-radius: 3px;
}
.headsection{
    padding: 5rem;
}


/* Blogpage */
