body{
    font-family: Staatliches;
    background-image: linear-gradient(to right top, #111d5e, #451b65, #6c1265, #8e035e, #aa0052, #bb074a, #c91940, #d52b34, #de3e30, #e6502b, #ed6126, #f37121);
    color: aliceblue;
}
.headnav{
    border-radius: 2rem;
    background-color: white;
}
.headnavalign{
    padding: 2rem ;
}
.navtitle{
    font-weight: bold;
    font-style: italic;
    color: #ff4301;
}
.blogfeed{
    text-align: center;
    color: #e6502b;
}
.divider{
    border-style: dashed;
    border-width: 0.1rem;
    border-top-style: none;
    padding: 2rem;
}
.feed{
    padding: 5rem;
}

.footer{
    background-color: white;
    text-align: center;
    color:grey;
    border-radius: 2rem;
}
.footeralign{
    padding: 3rem 0;
    
}
.align{
    padding: 2rem;
    
}
.hr{
    background-color: antiquewhite;
}
.FSH{
    margin: 0.2rem;
}
.Slider{
    border-radius: 3px;
}
.head{
    padding: 4rem 3rem;
}

/* rules page */

.featured{
    height: 400px;
    width: 400px;
}


/* featuredpage */
.featuredfeed{
    padding:2rem;
}